{% extends "frontend/base_generic.html" %}

{% block content %}


    <div id="index-masthead" class="ui vertical masthead center aligned segment">

        {% block menu %}
            {{ block.super }}
        {% endblock %}
        <div class="ui container">
            <h1 class="ui inverted green header">
                Connecting retail pharmacies to best prices
            </h1>
            <h2 class="ui green header">in the most comfortable way while saving cost.</h2>
            <!-- search bar -->
            <div id="landing-search-bar" class="ui big search">
                <div class="ui action left icon seventy-width input">
                    <i class="search icon"></i>
                    <input class="prompt " type="text" placeholder="Search drug database">
                    <a class="ui blue button" href="{% url 'drugs:drug_list' %}">
                        Search
                    </a>
                </div>

                <div class=" results"></div>
            </div>

            {#            <div class="ui huge primary button">Get Started <i class="right arrow icon"></i></div>#}
        </div>

    </div>

    <div class="ui vertical stripe segment">
        <div class="ui middle aligned stackable grid container">
            <div id="about" class="ui huge header">About PharmaX</div>
            <div class="row">
                <div class="eight wide column">
                    <h3 class="ui header">We help Cargo owners save cost</h3>
                    <p> RxOneShop uses all the pharmacies buying power to negotiate better prices from our suppliers. This is similar to joining a buying group except there is no cost to use us and there is no minimum amount of products that you have to buy.</p>
                    <h3 class="ui header">We help Pharma make more</h3>
                    <p>We work with hundreds of pharmacies all across the country and we have a partnership with over 10 suppliers.

                    </p>
                </div>
                <div class="six wide right floated column">
                    <img src="" class="ui large bordered rounded image">
                    <p>Image here</p>
                </div>
            </div>
            <div class="row">
                <div class="center aligned column">
                    <a class="ui huge blue button">Check Us Out</a>
                </div>
            </div>
        </div>
    </div>


    <div id="how-it-works" class="ui vertical stripe segment">
        <div class="ui equal width stackable internally celled grid">
            <div class="center aligned row">
                <div class="column">
                    <h3>"What a Company"</h3>
                    <p>That is what they all say about us</p>
                </div>
                <div class="column">
                    <h3>"I shouldn't have gone with their competitor."</h3>
                    <p>
                        <b>Nan</b> Chief Fun Officer Acme Toys
                    </p>
                </div>
            </div>
        </div>
    </div>

    <div class="ui vertical stripe justified aligned segment">
        <div class="ui text container">
            <h3 class="ui header"> Retail pharmacies </h3>
            <p>We work with hundreds of pharmacies all across the country and we have a partnership with over 10 suppliers. RxOneShop uses all the pharmacies buying power to negotiate better prices from our suppliers. This is similar to joining a buying group except there is no cost to use us and there is no minimum amount of products that you have to buy.

                .</p>
            <a class="ui large button">Join PharmaX</a>
            <h4 class="ui horizontal header divider">
                &and;
            </h4>
            <h3 class="ui header">Wholesales pharmacies </h3>
            <p>We work with hundreds of pharmacies all across the country and we have a partnership with over 10 suppliers. RxOneShop uses all the pharmacies buying power to negotiate better prices from our suppliers. This is similar to joining a buying group except there is no cost to use us and there is no minimum amount of products that you have to buy.

            </p>
            <p>
                The job notifications come with all the information you need to decide whether the job is for you and your vehicle: number of pallets, dimensions, weight, refrigerated or not, etc.</p>
            <a class="ui large blue button">Sign up</a>
        </div>
    </div>


{% endblock %}
